{extend name="layout" /}
{block name="content"}
    <div class="box">
        <div class="box-title">
            <h3><i class="icon-table"></i>添加管理员</h3>
        </div>
        <form method="post" class="form-horizontal" id="form">
            <div class="box-content" style="position:relative">
                <div class="bb_s_e8 step_item">
                    <div class="control-group">
                        <label class="control-label">帐号</label>

                        <div class="controls">
                            <input type="text" name="username" id="goods_url" placeholder="请输入管理员帐号！" class="input-60" value="" datatype="*" nullmsg="请输入管理员帐号！">
                        </div>
                        <p class="hint goods_url_hint"></p>
                    </div>
                    <div class="control-group">
                        <label class="control-label">密码</label>

                        <div class="controls">
                            <input type="password" name="password" class="input-60" value="" datatype="*" errormsg="请输入密码" nullmsg="请输入密码！">
                        </div>
                        <p class="hint goods_title_hint"></p>
                    </div>
					<div class="control-group">
                        <label class="control-label">确认密码</label>

                        <div class="controls">
                            <input type="password" name="ckpassword" class="input-60" value="" datatype="*" recheck="password" errormsg="两次输入的密码不一致" nullmsg="请输入确认密码！"> </div>
                        <p class="hint goods_title_hint"></p>
                    </div>
					<div class="control-group">
                        <label class="control-label">用户组</label>
                        <div class="controls">
                            <select name="group_id" datatype="n" nullmsg="请选择用户组">
								<option value="">请选择用户组</option>
                                {volist name="list" id="vo"}
                                    <option value="{$vo.id}">{$vo.title}</option>
                                {/volist}
                            </select>
                        </div>
                        <p class="hint goods_title_hint"></p>
                    </div>
					<div class="control-group">
                        <label class="control-label">状态</label>
                        <div class="controls">
                            <select name="status" nullmsg="请选择状态">
								<option value="1">开启</option>
								<option value="2">禁用</option>
                            </select>
                        </div>
                        <p class="hint goods_title_hint"></p>
                    </div>
                    <div class="form-actions" style="margin-top:25px; margin-bottom:30px;padding-left: 100px;">
                        <input type="submit" class="btn btn-primary" value=" 提交 ">
                    </div>
                </div>
        </form>
    </div>
	<script>
	    $("#form").Validform({
	        tiptype: 3,
	        showAllError: true,
			ajaxPost:true,
			callback:function(data){
				if(data.code == 1){
					$.Showmsg(data.message);
					window.location.href='{:url('Admin/index')}';
				}else{
					$.Showmsg(data.message);
				}
				return false;
			}
	    });
	</script>
    {include file="admin/left" /}
{/block}

    
