<div id="left">
    <div class="subnav">
        <div class="subnav-title"> <a href="#" class="toggle-subnav"><i class="icon-angle-down"></i><span>管理员设置</span></a> </div>
        <ul class="subnav-menu">
            <li><a href="{:url('Admin/index')}">管理员管理</a></li>
			<li><a href="{:url('Admin/addadmin')}">添加管理员</a></li>
			<li><a href="{:url('Admin/auth_group')}">角色管理</a></li>
			<li><a href="{:url('Admin/group_add')}">添加角色</a></li>
			<li><a href="{:url('Admin/rulelist')}">规则管理</a></li>
			<li><a href="{:url('Admin/ruleadd')}">添加规则</a></li>
			<li><a href="{:url('Admin/ruleclass')}">规则分类</a></li>
			<li><a href="{:url('Admin/ruleclass_add')}">添加规则分类</a></li>
        </ul>
    </div>
</div>